---
import articles from '../pages/articles/data.json'

const item = (articles)
// console.log(item[0].title)+

// This function work fine ->
/* let img = []
let titles = []

const itemRender = () => {
    for (let index = 0; index < item.length; index++) {
        const element = item[index];
        img.push(element.img)
        titles.push(element.title)
    }
}
itemRender()
console.log(img, titles) */

---

<section>
    <div>
        <p>{ item[0].categories }</p>
    </div>
</section>