<nav class="flex gap-4 items-center px-4">
	<a class="block no-underline uppercase py-3 text-slate-600 text-base" href="/">Inicio</a>
	<a class="block no-underline uppercase py-3 text-slate-600 text-base" href="/projects/"> Portfolio</a>
	<a class="block no-underline uppercase py-3 text-slate-600 text-base" href="/about/"> About</a>
</nav>